# From: https://github.com/labwc/labwc/blob/master/.clang-format
#
# Note: this is an VERY rough approximation of labwc's coding style (see
# CONTRIBUTING.md) and is intended only as a hint for IDE formatting
# aids. DO NOT rely on clang-format or your IDE for correct formatting;
# always check the result manually (and run ./scripts/check)!
#
# Some notable things that clang-format gets wrong:
#  - no support for double-indenting before an opening brace
#  - adjacent string literal tokens split across lines will be space-aligned
#    to the opening quote column; avoid manual line-breaks in string literals

BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
AlwaysBreakAfterDefinitionReturnType: true
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false
BreakBeforeBraces: Linux
IndentCaseLabels: false
PenaltyBreakOpenParenthesis: 100
PenaltyReturnTypeOnItsOwnLine: 500
SpaceBeforeParens: ControlStatementsExceptControlMacros
ForEachMacros: ['for_each_view',
                'for_each_view_reverse',
                'wl_array_for_each',
                'wl_list_for_each',
                'wl_list_for_each_reverse',
                'wl_list_for_each_reverse_safe',
                'wl_list_for_each_safe']
IncludeCategories:
  - Regex: '<.*>'
  - Regex: '.*'

# Added this to prevent space-based alignment in strings
BreakStringLiterals: false
